<!-- about.component.html -->
<div class="about-container">
    <h1>About Me</h1>
    <img src="../../assets/images/profile-img.png" alt="Profile Picture" class="profile-img" />
    <p>I am a web developer with experience in creating full-stack applications, REST APIs, and working with
        technologies like Angular, C#, and JavaScript. My goal is to create intuitive, dynamic, and responsive websites
        and applications.</p>
    <p>I am passionate about learning new technologies and improving my skills every day.</p>
</div>
